.sidebar {

}

.sidebar.open {
    background-color: #cc0000;

}

.background {
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nav a {

}

.nav a:hover {
}

.nav a.active {
}
.close {
}

.close img {
}
