.greetingForm {
}

.inputAndButtonContainer {
    display: flex;
    margin-left: 100px
;
}
.inputClass{
    height: 30px;
}

.error {
    color: #cc0000;
}

.input {

}

.input:focus {
}

.errorInput {
}

.button {
    margin-left: 30px;
}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {
}

.greeting {
    margin-bottom: 50px;
}
